:root {
  --grey: #fafafa;
  --white: #ffffff;
  --dark-x: #1e2126;
}

.bg-dark-x { background-color: var(--dark-x); }

body {
  font-family: 'Spartan', sans-serif;
  background: url('../img/background_home.jpg') fixed 50% / cover;
  padding: 0;
  margin: 0;
}

.bg-grey {
  background-color: var(--grey);
}
.bg-light {
  background-color: var(--white) !important;
}

.navbar {
  min-height: 5rem;
}

i.lead {
  font-size: 1.8rem;
  cursor: pointer;
}

.py-m {
  padding-top: 3rem;
  padding-bottom: 8rem;
}

textarea {
  resize: none;
}

.rating {
	color: #ffc107;
}

p {
  text-align: justify;
}

.square {
  position: absolute;
  top: -6px;
  right: 15px;
  width: 12px;
  height: 12px;
  border-top: 1px solid rgba(0,0,0,.15);
  border-left: 1px solid rgba(0,0,0,.15);
  background-color: #fff;
  transform: rotate(45deg);
}

.square-dropup {
  position: absolute;
  bottom: -4px;
  right: 23px;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  border-right: 1px solid rgba(0,0,0,.15);
  background-color: #fff;
  transform: rotate(45deg);
}

#dropdownUsername {
  padding: .25rem 1rem;
  margin-bottom: .25rem;
}

#search {
  display:flex;
  flex-direction:row;
  padding:2px;
}

#search input {
  flex-grow:2;
  border:none;
}

#search input:focus {
  outline: none;
}

#search button {
  background:#0d6efd;
  color:white;
}

.trash {
  color: #cc0000;
}

.disabledIcon {
  color: gray;
}